@page "/Recipe/{RawRecipeId}"
@using RecipEase.Shared.Models.Api
@inject HttpClient Http
@using RecipEase.Client.Shared.Util
@using RecipEase.Shared.ApiResponses
@inject IHttpClientFactory ClientFactory

@if (RecipeViewed != null)
{
    <h1>
        @RecipeViewed.Name
        <RatingAvgCalculated RecipeId="@RecipeId"></RatingAvgCalculated>
    </h1>
    <CascadingValue Value="@RawRecipeId">
        <RateRecipeComponent></RateRecipeComponent>
    </CascadingValue>
    <AddToCollectionButton RecipeId="@RecipeId"></AddToCollectionButton>
    <br>
    <br>
    <h2>Directions</h2>
    <p>
        @RecipeViewed.Steps
    </p>

    <h2>Ingredients</h2>
    <ul class="list-group list-group-flush mb-4">
        <IngredientListView
            Ingredients="@Ingredients"
            QuantityEditable="@false"
            ShowDelete="@false"
            ShowSave="@false"
            ShowAdd="@true"
            ShowNewIngredient="@false"
            UnitEditable="@false">
        </IngredientListView>
    </ul>

    <h2>Nutrition</h2>
    <ul>
        <li>
            <p> <b>Calories:</b> @RecipeViewed.Calories mg. </p>
        </li>

        <li>
            <p> <b>Carbohydrates:</b> @RecipeViewed.Carbs mg. </p>
        </li>

        <li>
            <p> <b>Protein:</b> @RecipeViewed.Protein mg. </p>
        </li>

        <li>
            <p> <b>Sodium:</b> @RecipeViewed.Sodium mg. </p>
        </li>

        <li>
            <p> <b>Fat:</b> @RecipeViewed.Fat mg. </p>
        </li>

        <li>
            <p> <b>Cholesterol:</b> @RecipeViewed.Cholesterol mg. </p>
        </li>
    </ul>
}



@code {


    [Parameter]
    public string RawRecipeId { get; set; }

    private int RecipeId => int.Parse(RawRecipeId);

    private ApiRecipe RecipeViewed { get; set; }

    private Dictionary<string, QuantifiedIngredient> Ingredients { get; } = new();


    protected override async Task OnInitializedAsync()
    {
        var client = Auth.GetNoAuthHttpClient(ClientFactory);

        var path = $"api/Recipe/{RawRecipeId}";
        RecipeViewed = await client.GetFromJsonAsync<ApiRecipe>(path);
        var uses = await client.GetFromJsonAsync<IEnumerable<ApiUses>>($"api/Uses/{RawRecipeId}");
        if (uses != null)
            foreach (var a in uses)
            {
                var i = await client.GetFromJsonAsync<ApiIngredient>($"api/Ingr/{a.IngrName}");
                var unit = await client.GetFromJsonAsync<ApiUnit>($"api/Unit/{a.UnitName}");
                if (i != null)
                {
                    Ingredients.Add(i.Name, new QuantifiedIngredient()
                    {
                        Ingredient = i,
                        Quantity = a.Quantity,
                        Unit = unit
                    });
                }
            }
    }

}