@page "/Recipe/{recipeId}"
@using RecipEase.Shared.Models.Api
@inject HttpClient Http
@using RecipEase.Client.Shared.Util
@inject IHttpClientFactory ClientFactory


@if (RecipeViewed != null && uses != null)
{
    <h1>@RecipeViewed.Name</h1>

    <h1>Recipe Title
        <CascadingValue Value="@RecipeId">
            <RatingAvgCalculated></RatingAvgCalculated>
        </CascadingValue>
    </h1>

    <RateRecipeComponent></RateRecipeComponent>
    <br>
    <br>
    <h2>Directions</h2>
    <p>
        @RecipeViewed.Steps
    </p>

    <h2>Ingredients</h2>
    <ul class="list-group list-group-flush mb-4">
        @foreach (var item in uses)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                @item.IngrName
                <span class="text-black-50">@item.Quantity @item.UnitName</span>
                <span class="text-black-50">@ingr[item].Rarity</span>
                <AddButton></AddButton>
            </li>
        }
    </ul>

    <h2>Nutrition</h2>
    <ul>
        <li>
            <p> <b>Calories:</b> @RecipeViewed.Calories mg. </p>
        </li>

        <li>
            <p> <b>Carbohydrates:</b> @RecipeViewed.Carbs mg. </p>
        </li>

        <li>
            <p> <b>Protein:</b> @RecipeViewed.Protein mg. </p>
        </li>

        <li>
            <p> <b>Sodium:</b> @RecipeViewed.Sodium mg. </p>
        </li>

        <li>
            <p> <b>Fat:</b> @RecipeViewed.Fat mg. </p>
        </li>

        <li>
            <p> <b>Cholesterol:</b> @RecipeViewed.Cholesterol mg. </p>
        </li>
    </ul>
}

@code {
    [Parameter]
    public string RecipeId { get; set; } = "default value";

    public ApiRecipe RecipeViewed { get; set; }

    public IEnumerable<ApiUses> uses { get; set; }

    public IDictionary<ApiUses, ApiIngredient> ingr { get; set; }



    protected override async Task OnInitializedAsync()
    {
        ingr = new Dictionary<ApiUses, ApiIngredient>();
        var client = Auth.GetNoAuthHttpClient(ClientFactory);


        String path = $"api/Recipe/{RecipeId}";
        RecipeViewed = await client.GetFromJsonAsync<ApiRecipe>(path);
        uses = await client.GetFromJsonAsync<IEnumerable<ApiUses>>($"api/Uses/{RecipeId}");
        foreach (ApiUses a in uses)
        {
            ApiIngredient i = await client.GetFromJsonAsync<ApiIngredient>($"api/Ingr/{a.IngrName}");
            System.Console.WriteLine(i.GetType());
            ingr.Add(a, i);
        }

    }

}